@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

$color-primary: #04151F;
$color-secondary: #C49D48;
$color-accent: #688095;
$color-light-1: #AAA9A9;
$color-light-2: #FFFFFF;

$font-1: 'Raleway', sans-serif;
$font-2: 'Open Sans', sans-serif;